<div class="container">
  <div class="row">
    <div class="col-12">
      Header de mi aplicación
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="nav">
        <div class="nav-item">
          <a class="nav-link" [routerLink] = "['/']">Home</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" [routerLink] = "['/publicar']">Nueva Publicación</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>